.modal {
    display: block !important;
    visibility: hidden;
    border-radius: 1rem;
    width: 75vw;
  }
  
  .modal-show {
    visibility:visible;
    background-color: rgba(169, 169, 169, 0.8);
    transition: opacity 0.2s linear; 
  } 
  
  .modal-content  {
    opacity: 0; 
  }
  
  .modal-show .modal-content  {
    opacity: 1; 
    transition: 0.2s linear; 
    width: 120%;
    margin-left: -10%;
  }
  
  .modal-header {
    margin-left: auto;
  }